@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 250px 4fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside header"
    "aside main";
}
.header {
  background-color: lightsalmon;
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
input[type='search']{
  width: 100%;
}
.user-profile{
  justify-self: end;
}
.group-buttons{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
}
.aside {
  background-color: rgb(33, 61, 70);
  font-size: 1rem;
  grid-area: aside;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 250px 150px;
  gap: 30px;
}
.sitename{
  font-size: 1.5rem;
}
.aside a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
ul {
  list-style: none;
}
ul > li {
  padding: .5rem 0;
}
.main {
  background-color: skyblue;
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.card-section{
  grid-column: 1/2;
  grid-row: 1/3;
}
.card-section > .group-card{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  gap: 20px;
}

.section-title{
  padding: 10px 0;
}

.card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border-left: 5px solid lightcoral;
}
.announcements-section>.list-announcement,.trending-section>.list-trending{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  
}
.list-announcement,.list-trending{
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
}
.list-announcement li:not(:last-child){
  border-bottom: 1px solid lightgray;
}